# macOS
.DS_Store

build
build-cuda
build-cuda-4gpu
venv
.cache
literature
.clang-tidy

# Simulation output
*.mp4
*.nc
*.png
benchmarks/

# Personal release log
docs/v*
html/
Doxyfile
# Personal presentations
*.pptx
docs/*.drawio
*.docx